.main {
  width: calc(100vw - 60px);
  height: 75vh;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px auto;

  .date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ffbf00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 10;
  }
}

.main canvas {
  background-color: black;
}
