.main {
  width: 100vw;
  height: 100vh;
  padding: 3%;
  position: relative;

  canvas {
    background-color: black;
  }

  .date {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #ffbf00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 10;
  }
}
